<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <File name="FileLogger" fileName="C:\logs\logs.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="by.epam.webpoject.ezmusic.dao.AbstractDAO" level="all" additivity="false">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>
        <Logger name="by.epam.webpoject.ezmusic.connection.ConnectionPool" level="all" additivity="false">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>
        <Logger name="by.epam.webpoject.ezmusic.dao.AbstractDAO" level="all" additivity="false">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>
    </Loggers>

</Configuration>